In [4]:
length = eval(input("Enter length in CM : "))
if length >= 0:
    len_in = 2.54*length
    print(f"length in inch is {len_in}")
else:
    print("Entry is invalid")

Enter length in CM : 6
length in inch is 15.24

In [15]:
temp = eval(input("Enter a temperature : "))
uni = input("What is the unit of temp celcius c or fahrenheit f : ")
if uni == 'c':
    temp_f = (9/5)*temp+32
    print(f"for {temp} celcius temperature in fahrenheit is {temp_f}")
elif uni == 'f':
    temp_c = round((5/9)*(temp-32),2)
    
    print(f"for {temp} fahrenheit temperature in celcius is {temp_c}")

Enter a temperature : 100
What is the unit of temp celcius c or fahrenheit f : f
for 100 fahrenheit temperature in celcius is 37.78

In [23]:
temp = eval(input("Enter temperature in Celcius : "))
if temp < -273.15:
    print("the temp is invalid because it is absolute zero")
elif temp == -273.15:
    print("the temp is absolute zero")
elif temp < 0:
    print("the temp is below freezing point")
elif temp > 0 and temp < 100:
    print("temperature is in normal range")
elif temp == 100:
    print("temperature is at the boiling point")
else:
    print("temperature is above the boiling point")

Enter temperature in Celcius : 145
temperature is above the boiling point

In [30]:
credit = eval(input("Enter how many credits they have taken : "))
if credit < 23:
    print("freshman")
elif credit < 53:
    print("asophomore")
elif credit < 83:
    print("juniors")
else:
    print("seniors")

Enter how many credits they have taken : 87
seniors

In [38]:
import random
n1 = random.randint(1,10)
n2 = eval(input("Enter number "))
if n1 == n2:
    print("You guess it right ")
else:
    print("your guess is wrong")

Enter number 5
your guess is wrong

In [46]:
num_of_item = eval(input("Enter number of items : "))
if num_of_item < 10:
    tot_cost = num_of_item*12
    print(f"for {num_of_item} items the cost is {tot_cost}")
elif num_of_item < 99:
    tot_cost = num_of_item*10
    print(f"for {num_of_item} items the cost is {tot_cost}") 
else:
    tot_cost = num_of_item*7
    print(f"for {num_of_item} items the cost is {tot_cost}")

Enter number of items : 50
for 50 items the cost is 500

In [107]:
n1 = eval(input("Enter num1 : "))
n2 = eval(input("Enter num2 : "))
if n1> n2:
    if n1-n2 <= 0.001:
        print("close")
    else:
        print("not close")
elif n2 > n1:
    if n2-n1 <= 0.001:
        print("close")
    else:
        print("not close")

Enter num1 : 3.99999
Enter num2 : 4
close

In [72]:
year = eval(input("Enter year : "))
if year % 4 == 0:
    if year % 100 == 0:
        if year% 400 == 0:
            print("leap year")
        else:
            print("not leap year")    
    else:
        print("leap year")
else:
    print("not a leap year")

Enter year : 2300
not leap year

In [75]:
n = eval(input("Enter a number : "))
for i in range (1,n+1):
    if n%i == 0:
        print(f"{i} is divisor of {n}")

Enter a number : 25
1 is divisor of 25
5 is divisor of 25
25 is divisor of 25

In [95]:
hour = eval(input("Enter hour : "))
t_format = input("Enter am or pm : ")
fu_time = eval(input("How many hours ahead you want : "))
if t_format == 'pm':
    hour = hour+12
hour = hour+fu_time
if hour > 12:
    hour = hour - 12
    print(f"the new time now is {hour} pm")
else:
        print(f"the new time is {hour} am")

Enter hour : 3
Enter am or pm : pm
How many hours ahead you want : 3
the new time now is 6 pm

In [108]:
name = 'python'

In [109]:
type(name)

str

In [110]:
name1='python'

In [111]:
type(name1)

str

In [112]:
name1='python'

In [113]:
type(name1)

str

In [114]:
name = 'I like "you"'
print(name)

I like "you"

In [115]:
name4 = """python"""

In [116]:
print(name4)

python

In [118]:
import random
random.randint()

TypeError: Random.randint() missing 2 required positional arguments: 'a' and 'b'

In [119]:
name='python'

In [120]:
max(name)

'y'

In [121]:
min(name)

'h'

In [122]:
ord('p'),ord('y'),ord('t'),ord('h'),ord('o'),ord('n')

(112, 121, 116, 104, 111, 110)

In [123]:
chr(112),ord('p')

('p', 112)

In [125]:
for i in range(33,128):
    print(i,chr(i),end=' ')

33 ! 34 " 35 # 36 $ 37 % 38 & 39 ' 40 ( 41 ) 42 * 43 + 44 , 45 - 46 . 47 / 48 0 49 1 50 2 51 3 52 4 53 5 54 6 55 7 56 8 57 9 58 : 59 ; 60 < 61 = 62 > 63 ? 64 @ 65 A 66 B 67 C 68 D 69 E 70 F 71 G 72 H 73 I 74 J 75 K 76 L 77 M 78 N 79 O 80 P 81 Q 82 R 83 S 84 T 85 U 86 V 87 W 88 X 89 Y 90 Z 91 [ 92 \ 93 ] 94 ^ 95 _ 96 ` 97 a 98 b 99 c 100 d 101 e 102 f 103 g 104 h 105 i 106 j 107 k 108 l 109 m 110 n 111 o 112 p 113 q 114 r 115 s 116 t 117 u 118 v 119 w 120 x 121 y 122 z 123 { 124 | 125 } 126 ~ 127 

In [128]:
'banana' - 'banana'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [129]:
str1 = 'I like python'
len(str1)

13

In [132]:
for i in reversed('python'):
    
    print(i)

n
o
h
t
y
p

In [133]:
s1 = 'apple'
for i in s1:
    print(i)

a
p
p
l
e

In [134]:
sorted('python')

['h', 'n', 'o', 'p', 't', 'y']

In [136]:
sorted('python',reverse=True)

['y', 't', 'p', 'o', 'n', 'h']

In [139]:
for i in 'python':
    print(i,ord(i))

p 112
y 121
t 116
h 104
o 111
n 110

In [143]:
str1='python'
str2='Hello'
str3 = str1+' '+str2

In [144]:
print(3*str3)

python Hellopython Hellopython Hello

In [145]:
str1='python'

In [146]:
str1

'python'

In [150]:
str1[0]
str1[1]
str1[2]
str1[3]
str1[4]
str1[5]

'n'

In [151]:
for i in range(6):
    print(i,str1[i])

0 p
1 y
2 t
3 h
4 o
5 n

In [152]:
str1='python'
for i in str1:
    print(i,end=' ')

p y t h o n

In [153]:
str1 = 'python'
for i in range(len(str1)):
    print(i,str1[i])

0 p
1 y
2 t
3 h
4 o
5 n

In [163]:
str1='python'
for i in range(len(str1)):
    print(i,str1[i])

0 p
1 y
2 t
3 h
4 o
5 n

In [ ]:
str1=