In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
path=r"C:\Data Science\Data_Files\Visadataset.csv"

In [9]:
visa_df=pd.read_csv(path)

In [10]:
visa_df.head(3)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied

In [13]:
visa_df[['continent']]

      continent
0          Asia
1          Asia
2          Asia
3          Asia
4        Africa
...         ...
25475      Asia
25476      Asia
25477      Asia
25478      Asia
25479      Asia

[25480 rows x 1 columns]

In [15]:
cols=['continent','no_of_employees']
visa_df.cols

AttributeError: 'DataFrame' object has no attribute 'cols'

In [16]:
visa_df.values

array([['EZYV01', 'Asia', 'High School', ..., 'Hour', 'Y', 'Denied'],
       ['EZYV02', 'Asia', "Master's", ..., 'Year', 'Y', 'Certified'],
       ['EZYV03', 'Asia', "Bachelor's", ..., 'Year', 'Y', 'Denied'],
       ...,
       ['EZYV25478', 'Asia', "Master's", ..., 'Year', 'N', 'Certified'],
       ['EZYV25479', 'Asia', "Master's", ..., 'Year', 'Y', 'Certified'],
       ['EZYV25480', 'Asia', "Bachelor's", ..., 'Year', 'Y', 'Certified']],
      dtype=object)

In [17]:
l1=[1,2,3]
l2=['A','B','C']
l=l1,l2
l

([1, 2, 3], ['A', 'B', 'C'])

In [20]:
pd.df(l).values

AttributeError: module 'pandas' has no attribute 'df'

In [21]:
visa_df['continent'].unique()

array(['Asia', 'Africa', 'North America', 'Europe', 'South America',
       'Oceania'], dtype=object)

In [23]:
set(visa_df['continent'].values)

{'Africa', 'Asia', 'Europe', 'North America', 'Oceania', 'South America'}

In [24]:
visa_df['continent'].nunique()

6

In [27]:
con=visa_df['continent']=='Asia'

In [28]:
len(visa_df[con])

25480

In [30]:
con=visa_df['continent']=='Africa'
len(visa_df[con])

0

In [ ]:
unique_labels=